---
import arrowRightToLine from "@/assets/arrow-right-to-line.svg";
import github from "@/assets/github.svg";
import linkedin from "@/assets/linkedin.svg";
import logo from "@/assets/logo.svg";
import mail from "@/assets/mail.svg";
import RootLayout from "@/layouts/root.astro";
import { Image } from "astro:assets";
---

<RootLayout>
    <main id="background" class="flex flex-col items-center justify-center gap-12">
        <nav class="flex gap-12 items-center">
            <a href="https://github.com/t-rosa" class="hover:scale-125 duration-300">
                <Image src={github} alt="Github" class="w-10" />
            </a>
            <a data-linkedin href="https://www.linkedin.com/in/toma-rosa/" class="hover:scale-125 duration-300">
                <Image src={linkedin} alt="Linkedin" class="w-10" />
            </a>
            <a data-mail href="mailto:toma.rosa@protonmail.com" class="hover:scale-125 duration-300">
                <Image src={mail} alt="Mail" class="w-10" />
            </a>
        </nav>
        <Image src={logo} alt="Toma Rosa logo." class="w-64" />
        <a
            data-projects
            href="/projects"
            class="rounded-full border p-3 border-indigo-600 hover:scale-110 duration-300 font-semibold hover:underline"
        >
            <Image src={arrowRightToLine} alt="Arrow right to line" class="w-10" />
        </a>
    </main>
</RootLayout>

<style>
    #background:has(a[data-linkedin]:hover) {
        @apply bg-[center_bottom];
    }

    #background:has(a[data-mail]:hover) {
        @apply bg-[left_bottom];
    }

    #background:has(a[data-projects]:hover) {
        @apply bg-[center_bottom];
    }
</style>
