---
import logo from "@/assets/logo.svg";
import github from "@/assets/github.svg";
import linkedin from "@/assets/linkedin.svg";
import mail from "@/assets/mail.svg";
import appWindow from "@/assets/app-window.svg";
import { Image } from "astro:assets";
import RootLayout from "@/layouts/root.astro";
---

<RootLayout>
  <nav class="grid grid-cols-3 gap-6">
    <a href="https://github.com/t-rosa" class="hover:scale-125 duration-300">
      <Image src={github} alt="Github" class="w-10" />
    </a>
    <a
      data-linkedin
      href="https://www.linkedin.com/in/toma-rosa/"
      class="hover:scale-125 duration-300"
    >
      <Image src={linkedin} alt="Linkedin" class="w-10" />
    </a>
    <a
      data-mail
      href="mailto:toma.rosa@protonmail.com"
      class="hover:scale-125 duration-300"
    >
      <Image src={mail} alt="Mail" class="w-10" />
    </a>
    <a
      data-projects
      href="/projects/"
      class="hover:scale-125 duration-300 col-[2/3]"
    >
      <Image src={appWindow} alt="Projects" class="w-10" />
    </a>
  </nav>
  <Image src={logo} alt="Toma Rosa logo." class="w-64" />
</RootLayout>

<style>
  body:has(a[data-linkedin]:hover) {
    @apply bg-[center_bottom];
  }

  body:has(a[data-mail]:hover) {
    @apply bg-[left_bottom];
  }

  body:has(a[data-projects]:hover) {
    @apply bg-[center_bottom];
  }
</style>
